CxfFileTransfer02/WebContent/wsdl/uploadserviceimpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UploadServiceImplService" targetNamespace="http://provider.filetransfer.cxf.tain.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://provider.filetransfer.cxf.tain.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://provider.filetransfer.cxf.tain.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://provider.filetransfer.cxf.tain.org/" version="1.0">

  <xs:element name="uploadFile" type="tns:uploadFile"/>

  <xs:element name="uploadFileResponse" type="tns:uploadFileResponse"/>

  <xs:complexType name="uploadFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:fileUploader"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fileUploader">
    <xs:sequence>
      <xs:element minOccurs="0" name="fileType" type="xs:string"/>
      <xs:element minOccurs="0" name="handler" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="uploadFileResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="uploadFile">
    <wsdl:part name="parameters" element="tns:uploadFile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadFileResponse">
    <wsdl:part name="parameters" element="tns:uploadFileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UploadServiceImpl">
    <wsdl:operation name="uploadFile">
      <wsdl:input name="uploadFile" message="tns:uploadFile">
    </wsdl:input>
      <wsdl:output name="uploadFileResponse" message="tns:uploadFileResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UploadServiceImplServiceSoapBinding" type="tns:UploadServiceImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="uploadFile">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="uploadFile">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadFileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UploadServiceImplService">
    <wsdl:port name="UploadServiceImplPort" binding="tns:UploadServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:9090/UploadServiceImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
